.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureItem {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  color: var(--text-color);
  text-decoration: none;
}

.featureBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.featureText {
  position: relative;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

